*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}
  

body{
    font-family: sans-serif;
    background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}







#size{
    position: absolute; 
    top: 60%;
    left: 50%;
    transform:translateX(-50%);
    font-size: 35px;
  color: red;

}  

.container{
height: 100vh;

}

.header{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo{
        font-size: 6px;

    }

    &__menu {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        gap:15px;
        position: absolute;
        left: 155px;
    }
}




.main {
    height: 80%;
   // border: 2px solid black;
    display: flex;
    flex-direction: row;

   

    &__text{
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     
        &-1{
          font-size: 10vw;
        }
        &-2,
        &-3,
        &-4 {
        font-size: 5vw;

        } 
    }
}



.footer {
    height: 10%;
  //  border: 2px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    margin-right: 10%;


[class ^="footer__"]{
img{
  width: 5.3vw;

}


}

}


@media(max-width:650px){
.header{ justify-content: center;
    


&__logo{

    font-size: 15px;
    position: absolute;
    left: 6%;




}




}


.main{  
flex-direction:column;
justify-content: center;
align-items: center;

&__image{ 
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: 100%;
    background-position:center;

}

&__text{

width: 100%;
&-1{
 display: none;

}

&-2 ,
&-3,
 &-4 {

    font-size: 20px;


 }


}






}


.footer{ 
justify-content: center;
margin: 0px;

[class^="footer__"]{

img{
width: 45px;
height: 45px;
}

}
}

}






#msform{
    text-align: center;
    position: absolute;
    bottom: 40%;
    background: 1px solid #ccc;
	box-shadow: 0 0 15px 1px rgba(21, 21, 21, 0.4);
	box-sizing: border-box;
	width: 80%;
	border: 1px solid #ccc;
	font-family: montserrat;
	width: 250px;
    font-weight: bold;
	border-radius: 20px;
	cursor: pointer;
	padding: 50px;
  font-size: 15px;
    
}





 

