*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}
  

body{
    font-family: sans-serif;



}




#size{
    position: absolute; 
    top: 60%;
    left: 50%;
    transform:translateX(-50%);
    font-size: 35px;
  color: red;

}  

.container{
height: 100vh;

}

.header{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo{
        font-size: 6px;

    }

    &__menu {
        display: flex;
        flex-direction: ROW;
        font-size: 8px;
        gap:15px;

    }
}




.main {
    height: 80%;
   // border: 2px solid black;
    display: flex;
    flex-direction: row;

    &__image{
        background-image: url("./image/IMG_3782.jpg");
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
     width: 50%;

;
 

    }

    &__text{
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     
        &-1{
          font-size: 10vw;
        }
        &-2,
        &-3,
        &-4 {
        font-size: 5vw;

        } 
    }
}



.footer {
    height: 10%;
  //  border: 2px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
    margin-right: 10%;


[class ^="footer__"]{
img{
  width: 5.3vw;

}


}

}


@media(max-width:650px){
.header{ justify-content: center;
    


&__logo{

    font-size: 15px;
    position: absolute;
    left: 6%;




}


&__menu{

   display:none; 
}

}


.main{  
flex-direction:column;
justify-content: center;
align-items: center;

&__image{ 
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: 100%;
    background-position:center;

}

&__text{

width: 100%;
&-1{
 display: none;

}

&-2 ,
&-3,
 &-4 {

    font-size: 20px;


 }


}






}


.footer{ 
justify-content: center;
margin: 0px;

[class^="footer__"]{

img{
width: 45px;
height: 45px;
}

}
}

}

.shop{
    text-align: center;
display: grid;
grid-template-columns: repeat(1);
align-items: center;
position: absolute;
top: 32%;

}

.tem{

border: 2px solid black;

}